#header {
    background: white;
    .banner {
        height: 170px;
        width: 500px;
        overflow: hidden;
        color: white;
        position: relative;
        img {
            margin-top: -40px;
        }
        .date {
            position: absolute;
            bottom: 15px;
            left: 15px;
            font-weight: 700;
            font-size: 18px
        }
    }
}