@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Comfortaa', cursive, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    background: linear-gradient(135deg, #43cea2 0%, #185a9d 100%);
}
.container {
    max-width: 500px;
    margin: 0 auto;
}